# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/*
target/*
src/main/webapp/WEB-INF/lib/*
src/main/webapp/WEB-INF/lib/fonts.jar
src/main/webapp/WEB-INF/lib/ss_css2.jar
pims.iml
pom.xml
velocity.log.1
velocity.log
src/main/webapp/WEB-INF/pages/order/orderdoctor.jsp
src/main/webapp/WEB-INF/pages/order/orderdoctor.jsp
