<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>常规病理报告单</title>
    <style>
        *{
            font-family:MSYH;
            font-size: 10pt;
        }
        html * {
            margin: 0 auto;
        }

        body {
            width: 784px;
            height: 1123px;
        }

        .logo{
            padding-left:20px;
            padding-top:5px;
            padding-bottom:5px;
            padding-right:40px;
        }
        .rlogo{
            width:100%;
            padding-right:20px;
            padding-top:5px;
            padding-bottom:5px;
        }
        .headtitle {
            font-size: 16pt;
            font-weight: bold;
        }
        .itemContainer {
            width:100%;
            padding-bottom:2px;
        }
        .itemtitle {
            width:100%;
            padding-left:5px;
            padding-bottom:5px;
            padding-top:5px;
            font-weight:bold;
        }
        .fieldname{
            font-weight:bold;
            font-size: 15px;
        }
        .imgContainer{
            margin:0 auto;
        }
        .line {
            border-bottom:2px solid #000;
            padding-left:5px;
            padding-right:5px;
        }
        .divfirst {
            display:inline;
            padding-left:5px;
        }
        .divother {
            display:inline;
            padding-left:50px
        }
        .tdtextalign {
            vertical-align:middle;
            text-align:left;
        }
        .txtstyle{
            font-size: 15px;
        }
    </style>
</head>
<body>
<div>
    #parse ("/template/reportHead.vm")
    <div class="line"></div>
    <div class="fieldname">镜下所见：</div>
    <div id="picContainer" class="imgContainer">
        #if ($!picNum == 1)
        <div style="width:100%;text-align:center;"><img src="$!imgsrc" width="305px" height="210px" /></div>
            #elseif ($!picNum > 1)
                #foreach($foo in $multiSrc)
                    <div style="width:100%;text-align:left;display:inline;padding-left:50px">
                        <img src="$!foo" width="305px" height="210px" />
                    </div>
                #end
        #end
    </div>
    <div class="fieldname">病理诊断：</div>
    <div style="width:90%;height:430px;padding-left:5px;padding-right: 20px;" class="txtstyle">
        $!diagnosisResult
    </div>
##    <div style="width:95%;height:230px;padding-left:5px;padding-right: 5px" class="txtstyle">
##        $!samtestresult
##    </div>

    #parse ("/template/reportFooter.vm")
</div>
</body>
</html>