<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>人乳头瘤病毒检查报告单</title>
    <style>
        * {
            font-family: MSYH;
            font-size: 10pt;
        }

        html * {
            margin: 0 auto;
        }

        body {
            width: 794px;
            height: 1123px;
        }

        .logo {
            width: 100%;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .headtitle {
            font-size: 16pt;
            font-weight: bold;
        }

        .itemContainer {
            width: 100%;
            padding-bottom: 10px;
        }

        .itemtitle {
            width: 100%;
            padding-left: 5px;
            padding-bottom: 5px;
            padding-top: 5px;
            font-weight: bold;
        }

        .fieldname {
            font-weight: bold;
        }

        .imgContainer {
            margin: 0 auto;
        }

        .line {
            border-bottom: 1px solid #000;
            padding-left: 5px;
            padding-right: 5px;
        }

        .divfirst {
            display: inline;
            padding-left: 5px;
        }

        .divother {
            display: inline;
            padding-left: 50px
        }

        .tdtextalign {
            vertical-align: middle;
            text-align: left;
        }
    </style>
    <script type="text/javascript">
        window.onload = function(){
            var hpvResult = '$!hpvResult';
            if(hpvResult != "") {
                var json = eval("json="+hpvResult);
                document.getElementById("A5A6Result").innerText = json.A5A6Result
                document.getElementById("A7Result").innerText = json.A7Result
                document.getElementById("A9Result").innerText = json.A9Result
                var doc = document.getElementById("hpvTestResult");
                if(json.A5A6Result == "阳性" || json.A7Result == "阳性" || json.A9Result == "阳性") {
                    doc.style.color = "red";
                }
            }
        }
    </script>
</head>
<body>
<div>
    #parse ("/template/reportHead.vm")
    <div class="line"></div>
    <div><span class="itemtitle">标本类型：</span><span>宫颈脱落细胞</span></div>
    <div><span class="itemtitle">检测方法：</span><span>专利Invader酶切信号放大法</span></div>
    <div><span class="itemtitle">检测组别：</span><span>检测14种国际癌症研究所（IARC）指定的高危型HPV，可分出不同的病毒组别</span></div>
    <div class="line"></div>
    <div class="itemtitle">检测结果：</div>
    <div style="width:100%;height:150px;padding-left:5px">
        <div><span class="itemtitle">标本量：</span><span id="sampleAmount">$!sampleAmount</span></div>
        <div><span class="itemtitle">高危型HPV：</span><span id="hpvTestResult">$!diagnosisResult</span></div>
    </div>
    <div style="width:100%;height:200px;padding-left:5px">
        <table width="65%" border="1" cellspacing="0" style="font-size: 12px">
            <tr>
                <td align="center" height="14px"><strong>HPV型组</strong></td>
                <td align="center"><strong>亚型</strong></td>
                <td align="center"><strong>结果</strong></td>
            </tr>
            <tr>
                <td align="left" height="14px">A5/A6</td>
                <td align="left">51,56,66</td>
                <td align="left">
                    <span id="A5A6Result"></span>
                </td>
            </tr>
            <tr>
                <td align="left" height="14px">A7</td>
                <td align="left">18,39,45,59,68</td>
                <td align="left">
                    <span id="A7Result"></span>
                </td>
            </tr>
            <tr>
                <td align="left" height="14px">A9</td>
                <td align="left">16,31,33,35,52,58</td>
                <td align="left">
                    <span id="A9Result"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="line"></div>
    <div>
        <div class="itemtitle">结果分析提示：</div>
        <div>1.高危型人乳头瘤病毒（HPV）的持续感染是引起子宫颈癌的主要原因，高危型HPV</div>
        <div style="padding-left:10px">DNA检测是宫颈病变、宫颈癌病变及宫颈癌筛查的重要手段。</div>
        <div>2.HPV阴性者请一年后复查。</div>
        <div>3.HPV阳性者请医生结合宫颈脱落细胞学检查结果决定是否进行下一步检查和处理。</div>
        <div>4.该结果仅对本次样本负责。</div>
    </div>
    <div class="line"></div>
    #parse ("/template/reportFooter.vm")
</div>
</body>
</html>