<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宫颈/阴道细胞病理学检查报告单</title>
    <style>
        *{
            font-family:MSYH;
            font-size: 9pt;
        }
        html * {
            margin: 0 auto;
        }

        body {
            width: 784px;
            height: 1123px;
        }

        .logo{
            padding-left:40px;
            padding-top:10px;
            padding-bottom:0px;
            padding-right:40px;
        }
        .rlogo{
            width:100%;
            padding-right:20px;
            padding-top:5px;
            padding-bottom:5px;
        }
        .headtitle {
            font-size: 16pt;
            font-weight: bold;
        }
        .itemContainer {
            width:100%;
            padding-bottom:2px;
        }
        .itemtitle {
            width:100%;
            padding-left:5px;
            padding-bottom:5px;
            padding-top:5px;
            font-weight:bold;
        }
        .fieldname{
            font-weight:bold;
            font-size: 15px;
        }
        .imgContainer{
            margin:0 auto;
        }
        .line {
            border-bottom:2px solid #000;
            padding-left:40px;
            padding-right:40px;
        }
        .divfirst {
            display:inline;
            padding-left:5px;
        }
        .divother {
            display:inline;
            padding-left:50px
        }
        .tdtextalign {
            vertical-align:middle;
            text-align:left;
        }
        .txtstyle{
            font-size: 15px;
        }
        .tdstyle1{
            font-weight:bold;
            font-size: 13px;
        }
        .tdstyle2{
            font-size: 9px;
        }
    </style>
    <script type="text/javascript">
        window.onload = function () {
            var checkedItemsStr = "$!checkedItemsStr";
            if(checkedItemsStr != "") {
                var array_ = checkedItemsStr.split(",");
                for(var item in array_) {
                    var rc = document.getElementById(array_[item]);
                    if(rc != null) {
                        rc.setAttribute("checked", true);
                    }
                }
            }
            var degree = "$!degree";
            var ck = document.getElementById("c35");
            if(ck.getAttribute("checked")) {
                var s1 = document.getElementById("s1");
                for(var it in s1.options){
                    if(s1.options[it].text==degree) {
                        s1.options[it].selected = true;
                        break;
                    }
                }
            }
        }

    </script>
</head>
<body>
<div>
##    #parse ("/template/reportHead.vm")
    <div style="height: 65px">
        <div class="logo" style="float: left"><img src="$!hospitalLogo" width="150px" height="55px"></div>
        <div class="logo" style="float: right"><img src="$!RhospitalLogo" width="150px" height="55px"></div>
    </div>
    <div>
        <div align="center" class="itemContainer">
            <span class="headtitle">$!formname</span>
        </div>
    </div>
    <div align="left" class="itemContainer" style="padding-left: 20px;padding-right: 20px">
        <table width="100%">
            <tr>
                <td width="32%"><span class="fieldname">条形码：</span><span class="txtstyle">$!saminspectionid</span></td>
                <td width="36%"><span class="fieldname">送检医院：</span><span class="txtstyle">$!samsendhospital</span></td>
                <td width="32%"><span class="fieldname">病理号：</span><span class="txtstyle">$!sampathologycode</span></td>
            </tr>
        </table>
    </div>
    <div class="line"></div>
    <div align="center" class="itemContainer" style="padding-left: 20px;padding-right: 20px">
        <table width="100%">
            <tr>
                <td width="15%"><span class="fieldname">姓名：</span></td>
                <td width="12%" align="left"><span class="txtstyle">$!sampatientname</span></td>
                <td width="8%"><span class="fieldname">性别：</span></td>
                <td width="8%" align="left">
                    <span class="txtstyle">#if($sampatientsex==1) 男 #elseif ($sampatientsex == 2)女 #else 未知 #end</span>  </td>
                <td width="8%"><span class="fieldname">年龄：</span></td>
                <td width="19%" align="left"><span class="txtstyle">$!sampatientage </span> </td>
                <td width="12%"><span class="fieldname">联系电话：</span></td>
                <td width="18%" align="left"><span class="txtstyle">$!sampatientphoneno</span></td>
            </tr>
            <tr>
                <td><span class="fieldname">住院/门诊号：</span></td>
                <td align="left"><span class="txtstyle">$!sampatientnumber</span></td>
                <td><span class="fieldname">床号：</span></td>
                <td align="left"><span class="txtstyle">$!sampatientbed</span></td>
                <td><span class="fieldname">科室：</span></td>
                <td align="left"><span class="txtstyle">$!samdeptname</span></td>
                <td><span class="fieldname">送检医生：</span></td>
                <td align="left"><span class="txtstyle">$!samsenddoctorname</span></td>
            </tr>
            <tr>
                <td><span class="fieldname">送检材料：</span></td>
                <td colspan="5" align="left"><span class="txtstyle">$!samsamplename</span></td>
                <td><span class="fieldname">送检日期：</span></td>
                <td align="left"><span class="txtstyle">$!samsendtime</span></td>
            </tr>
            <tr>
                <td><span class="fieldname">临床诊断：</span></td>
                <td colspan="5" align="left"><span class="txtstyle">$!sampatientdignoses</span></td>
                <td><span class="fieldname">接收日期：</span></td>
                <td align="left"><span class="txtstyle">$!samreceivertime<span</td>
            </tr>
##            <tr>
##                <td><span class="fieldname">临床诊断：</span></td>
##                <td colspan="7" align="left"><span class="txtstyle">$!sampatientdignoses</span></td>
##            </tr>
        </table>
    </div>
    <div class="line"></div>
    <div style="height: 650px;padding-right: 20px">
        <div  style="float:left;width: 65%;" >
            <table width="100%" border="0" cellspacing="0">
                <tr>
                    <td width="20%" align="right" class="tdstyle1" style="color: blue">标本质量:</td>
                    <td width="32%" align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleEvaluation" id="c1" />
                        <label for="c1">满意</label>
                    </td>
                    <td width="48%" align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleWell" class="c1" id="c4" />
                        <label for="c4">见宫颈管/移行区成份</label></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleWell" class="c1" id="c5" />
                        <label for="c5">未见宫颈管/移行区成份</label></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleEvaluation"  id="c2"/>
                        <label for="c2">不满意</label></td>
                    <td align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleNotGood" id="c6" class="c2" />
                        <label for="c6">上皮细胞数量偏低</label></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleNotGood" id="c8" class="c2"  />
                        <label for="c8">血液遮盖超过75%的鳞状细胞</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="left" class="tdstyle2">
                        <input type="checkbox" name="sampleNotGood" id="c7" class="c2"  />
                        <label for="c7">炎性渗出物遮盖超过75%的鳞状细胞</label>
                    </td>
                </tr>
                <tr>
                    <td  class="tdstyle1" align="right" style="color: blue">上皮细胞异常:</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="c15" id="c15"/>
                        <label for="c15">未见</label>
                    </td>
                </tr>
                <tr>
                    <td align="right"style="color: brown;">鳞状细胞：</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="xcell4" id="c28" class="g5" />
                        <label for="c28">不典型鳞状上皮细胞(ASC)</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell5" id="c29" class="g555" />
                        <label for="c29">属意义不明者(ASC-US)</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell5" id="c30" class="g555" />
                        <label for="c30">不能排除高级别鳞状上皮内病变(ASC-H)</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="xcell4" id="c31" class="g6" />
                        <label for="c31">低级别鳞状上皮内病变(L-SIL)（包括HPV/轻度异型性CIN I）</label>
                    </td>
                </tr>
##                <tr>
##                    <td>&nbsp;</td>
##                    <td colspan="2">&#12288;（包括HPV/轻度异型性CIN I）</td>
##                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="xcell4" id="c32" class="g7" />
                        <label for="c32">高级别鳞状上皮内病变(H-SIL)（包括中度和重度异型性/CIS/CINⅡ和CIN III）</label>
                    </td>
                </tr>
##                <tr>
##                    <td>&nbsp;</td>
##                    <td colspan="2">&#12288;（包括中度和重度异型性/CIS/CINⅡ和CIN III）</td>
##                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="xcell4" id="c33" class="g8" />
                        <label for="c33">鳞状细胞癌</label>
                    </td>
                </tr>
                <tr>
                    <td align="right"style="color: brown">腺细胞:</td>
                    <td class="tdstyle2">
                        <input type="checkbox" name="xcell" id="c16" class="g1"/>
                        <label for="c16">不典型的</label>
                    </td>
                    <td class="tdstyle2">
                        <input type="checkbox" name="xcell" id="c20" class="g2" />
                        <label for="c20">不典型的</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell1" id="c17" class="g111" />
                        <label for="c17">子宫颈内膜细胞非特异</label>
                    </td>
                    <td class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell2" id="c21" class="g222" />
                        <label for="c21">子宫颈内膜细胞,偏向肿瘤性</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell1" id="c18" class="g111" />
                        <label for="c18">子宫内膜细胞非特异</label>
                    </td>
                    <td class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell2" id="c22" class="g222" />
                        <label for="c22">腺细胞,偏向肿瘤性</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell1" id="c19" class="g111" />
                        <label for="c19">腺细胞，非特异</label>
                    </td>
                </tr>
##                <tr>
##                    <td>&nbsp;</td>
##                    <td colspan="2" class="tdstyle2">
##                        <input type="checkbox" name="xcell" id="c20" class="g2" />
##                        <label for="c20">不典型的</label>
##                    </td>
##                </tr>
##                <tr>
##                    <td>&nbsp;</td>
##                    <td colspan="2" class="tdstyle2">
##                        &#12288;<input type="checkbox" name="xcell2" id="c21" class="g222" />
##                        <label for="c21">子宫颈内膜细胞,偏向肿瘤性</label>
##                    </td>
##                </tr>
##                <tr>
##                    <td>&nbsp;</td>
##                    <td colspan="2" class="tdstyle2">
##                        &#12288;<input type="checkbox" name="xcell2" id="c22" class="g222" />
##                        <label for="c22">腺细胞,偏向肿瘤性</label>
##                    </td>
##                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="xcell" id="c23" class="g3" />
                        <label for="c23">子宫颈管原位癌</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="xcell" id="c24" class="g4" />
                        <label for="c24">腺癌</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell3" id="c25" class="g444" />
                        <label for="c25">子宫内膜腺癌</label>
                    </td>
                    <td class="tdstyle2">
                        <input type="checkbox" name="xcell3" id="c26" class="g444" />
                        <label for="c26">子宫颈内膜腺癌</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" align="left" class="tdstyle2">
                        &#12288;<input type="checkbox" name="xcell3" id="c27" class="g444" />
                        <label for="c27">子宫外腺癌</label>
                    </td>
                </tr>
                <tr>
                    <td  class="tdstyle1" align="right" style="color: blue">生物性病原体:</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="notSee1" id="c3" />
                        <label for="c3">未见</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="left" class="tdstyle2">
                        <input type="checkbox" name="c9" id="c9" class="g33" />
                        <label for="c9">提示HPV感染</label>
                    </td>
                    <td  class="tdstyle2">
                        <input type="checkbox" name="c10" id="c10" class="g33" />
                        <label for="c10">提示疱疹病毒感染</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td  class="tdstyle2" align="left">
                        <input type="checkbox" name="c11" id="c11" class="g33" />
                        <label for="c11">滴虫</label>
                    </td>
                    <td  class="tdstyle2">
                        <input type="checkbox" name="c12" id="c12" class="g33" />
                        <label for="c11">真菌(念珠菌等)</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td  class="tdstyle2">
                        <input type="checkbox" name="c13" id="c13" class="g33" />
                        <label for="c13">线索细胞</label>
                    </td>
                    <td class="tdstyle2">
                        <input type="checkbox" name="c14" id="c14" class="g33" />
                        <label for="c14">放线菌</label>
                    </td>
                </tr>
                <tr>
                    <td  class="tdstyle1" align="right" style="color: blue">非肿瘤性所见:</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="c34" id="c34" />
                        <label for="c34">反应性的细胞变化</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">
                        &#12288;<input type="checkbox" name="c35" id="c35" /><label>与炎症有关</label>
                        <select name="s1" id="s1">
                            <option value="轻度">轻度</option>
                            <option value="中度">中度</option>
                            <option value="重度">重度</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="left"  class="tdstyle2">
                        &#12288;<input type="checkbox" name="c36" id="c36" />
                        <label for="c36">与放射有关</label>
                    </td>
                    <td class="tdstyle2">
                        <input type="checkbox" name="c37" id="c37" />
                        <label for="c37">与宫内节育器（IUD）有关</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" align="left"  class="tdstyle2">
                        <input type="checkbox" name="c38" id="c38" />
                        <label for="c38">萎缩</label>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="color: blue">其它:</td>
                    <td colspan="2" class="tdstyle2">
                        <input type="checkbox" name="c39" id="c39" />
                        <label for="c39">子宫内膜细胞出现在≥40岁妇女中</label>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 35%;float: right;">
            <div class="tdstyle1" style="float: left;color: blue">镜下可见：</div>
            <div id="picContainer" class="imgContainer">
                #if ($!picNum == 1)
                    <div style="width:100%;text-align:center;"><img src="$!imgsrc" width="252px" height="189px" /></div>
                #elseif ($!picNum > 1)
                    #foreach($foo in $multiSrc)
                        <div style="width:100%;text-align:left;display:inline;padding-left:50px">
                            <img src="$!foo" width="252px" height="189px" />
                        </div>
                    #end
                #end
            </div>
        </div>
    </div>
    <div class="fieldname" style="color: blue">判读意见/结果:</div>
    <div style="width:100%;padding-left:5px" class="txtstyle">
        $!diagnosisResult
    </div>
    <div class="fieldname" style="color: blue">Cervista高危型HPV DNA检测结果:</div>
    <div style="width:100%;padding-left:5px" class="txtstyle">
        $!dnaResult
    </div>
    <div class="fieldname" style="color: blue">附注/建议:</div>
    <div style="width:100%;padding-left:5px" class="txtstyle">
        $!advice
    </div>
    #parse ("/template/reportFooter.vm")
</div>
</body>
</html>