<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.smart.model.lis.TestTube"/>
        <mapping class="com.smart.model.qc.QcTest"/>
        <mapping class="com.smart.model.qc.QcBatch"/>
        <mapping class="com.smart.model.qc.QcData"/>
        <mapping class="com.smart.model.qc.QcRule"/>
        <mapping class="com.smart.model.micro.TestCaseDetails"/>
        <mapping class="com.smart.model.micro.DrugGroupDetails"/>
        <mapping class="com.smart.model.micro.DrugGroup"/>
        <mapping class="com.smart.model.micro.CultureMedium"/>
        <mapping class="com.smart.model.micro.MicroItemInfo"/>
        <mapping class="com.smart.model.doctor.SampleAndResultVo"/>
        <mapping class="com.smart.model.doctor.LeftVo"/>
        <mapping class="com.smart.model.lis.CalculateFormula"/>
        <mapping class="com.smart.model.lis.ProfileTest"/>
        <mapping class="com.smart.model.lis.TestReference"/>
        <mapping class="com.smart.model.lis.Channel"/>
        <mapping class="com.smart.model.Dictionary"/>
        <mapping class="com.smart.model.lis.Hospital"/>
        <mapping class="com.smart.model.user.User"/>
        <mapping class="com.smart.model.user.Role"/>
        <mapping class="com.smart.model.lis.CriticalRecord"/>
        <mapping class="com.smart.model.lis.Patient"/>
        <mapping class="com.smart.model.lis.Sample"/>
        <mapping class="com.smart.model.lis.Process"/>
        <mapping class="com.smart.model.lis.TestResult"/>
        <mapping class="com.smart.model.lis.TestModify"/>
        <mapping class="com.smart.model.lis.Section"/>
        <mapping class="com.smart.model.lis.SectionCode"/>
        <mapping class="com.smart.model.lis.InvalidSample"/>
        <mapping class="com.smart.model.lis.Ylxh"/>
        <mapping class="com.smart.model.lis.ContactInfor"/>
        <mapping class="com.smart.model.lis.Ward"/>
        <mapping class="com.smart.model.lis.SampleLogistic"/>
        <mapping class="com.smart.model.rule.Bag"/>
        <mapping class="com.smart.model.rule.Index"/>
        <mapping class="com.smart.model.rule.Item"/>
        <mapping class="com.smart.model.rule.Result"/>
        <mapping class="com.smart.model.rule.Rule"/>
        <mapping class="com.smart.model.rule.DesBag"/>
        <mapping class="com.smart.model.rule.Description"/>
        <mapping class="com.smart.model.reagent.Reagent"/>
        <mapping class="com.smart.model.reagent.Batch"/>
        <mapping class="com.smart.model.reagent.Combo"/>
        <mapping class="com.smart.model.reagent.In"/>
        <mapping class="com.smart.model.reagent.Out"/>
        <mapping class="com.smart.model.lis.CollectSample"/>
        <mapping class="com.smart.model.lis.SOPIndex"/>
        <mapping class="com.smart.model.lis.ReasoningModify"/>
        <mapping class="com.smart.model.lis.AuditTrace"/>
        <mapping class="com.smart.model.lis.Task"/>
        <mapping class="com.smart.model.lis.LikeLab"/>
        <mapping class="com.smart.model.lis.Device"/>
        <mapping class="com.smart.model.lis.Diagnosis"/>
        <mapping class="com.smart.model.lis.ReceivePoint"/>
        <mapping class="com.smart.model.user.UserLevel"/>
        <mapping class="com.smart.model.user.Evaluate"/>
        <mapping class="com.smart.model.pb.Arrange"/>
        <mapping class="com.smart.model.pb.DayShift"/>
        <mapping class="com.smart.model.pb.Shift"/>
        <mapping class="com.smart.model.pb.WInfo"/>
        <mapping class="com.smart.model.pb.WorkCount"/>
        <mapping class="com.smart.model.pb.SxArrange"/>
        <mapping class="com.smart.model.pb.SxSchool"/>
        <mapping class="com.smart.model.lis.PassTrace"/>
        <mapping class="com.smart.model.DictionaryType"/>
        <mapping class="com.smart.model.request.SFXM"/>
        <mapping class="com.smart.model.request.SFXMTC"/>
        <mapping class="com.smart.model.request.JFMX"/>
        <mapping class="com.smart.model.execute.LabOrder"/>
        <mapping class="com.smart.model.execute.SampleNoBuilder"/>
        <mapping class="com.smart.model.execute.ExecuteUnusual"/>
        <mapping class="com.smart.model.lis.ProcessLog"/>
        <mapping class="com.smart.model.lis.SampleLog"/>
        <mapping class="com.smart.model.lis.TestResultLog"/>
        <mapping class="com.smart.model.dsf.CustomerInfo"/>
        <mapping class="com.smart.model.dsf.CustomerInfoDetails"/>
        <mapping class="com.smart.model.dsf.DSF_ylxh"/>
        <mapping class="com.smart.model.dsf.DSF_TestItems"/>
        <mapping class="com.smart.model.dsf.DSF_ControlTestItems"/>
        <mapping class="com.smart.model.dsf.DSF_CustomerBaseDiscount"/>
        <mapping class="com.pims.model.PimsConsultationDetail"/>
        <mapping class="com.pims.model.PimsPathologyConsultation"/>
        <mapping class="com.pims.model.PimsPathologyFavorite"/>
        <mapping class="com.pims.model.PimsPathologyFee"/>
        <mapping class="com.pims.model.PimsPathologyFollowup"/>
        <mapping class="com.pims.model.PimsPathologyMessage"/>
        <mapping class="com.pims.model.PimsPathologyOrder"/>
        <mapping class="com.pims.model.PimsPathologyOrderCheck"/>
        <mapping class="com.pims.model.PimsPathologyOrderChild"/>
        <mapping class="com.pims.model.PimsPathologyParaffin"/>
        <mapping class="com.pims.model.PimsPathologyPictures"/>
        <mapping class="com.pims.model.PimsPathologyPieces"/>
        <mapping class="com.pims.model.PimsPathologyReportDelay"/>
        <mapping class="com.pims.model.PimsPathologyReportPdf"/>
        <mapping class="com.pims.model.PimsPathologyRequisition"/>
        <mapping class="com.pims.model.PimsPathologySample"/>
        <mapping class="com.pims.model.PimsPathologySignature"/>
        <mapping class="com.pims.model.PimsPathologySlide"/>
        <mapping class="com.pims.model.PimsPathologyTask"/>
        <mapping class="com.pims.model.PimsPathologyTemplate"/>
        <mapping class="com.pims.model.PimsRequisitionField"/>
        <mapping class="com.pims.model.PimsRequisitionMaterial"/>
        <mapping class="com.pims.model.PimsRequisitionTestitem"/>
        <mapping class="com.pims.model.PimsSampleResult"/>
        <mapping class="com.pims.model.PimsSysChargeItems"/>
        <mapping class="com.pims.model.PimsSysChargeitemRef"/>
        <mapping class="com.pims.model.PimsSysColor"/>
        <mapping class="com.pims.model.PimsSysCustomerBasedata"/>
        <mapping class="com.pims.model.PimsSysHospitalInfos"/>
        <mapping class="com.pims.model.PimsSysMaxid"/>
        <mapping class="com.pims.model.PimsSysModuleFunc"/>
        <mapping class="com.pims.model.PimsSysModuleInfo"/>
        <mapping class="com.pims.model.PimsSysOperationLogs"/>
        <mapping class="com.pims.model.PimsSysPathology"/>
        <mapping class="com.pims.model.PimsSysReportFormate"/>
        <mapping class="com.pims.model.PimsSysReportItems"/>
        <mapping class="com.pims.model.PimsSysReqField"/>
        <mapping class="com.pims.model.PimsSysReqMaterial"/>
        <mapping class="com.pims.model.PimsSysReqTestitem"/>
        <mapping class="com.pims.model.PimsSysRoleInfo"/>
        <mapping class="com.pims.model.PimsSysRolePower"/>
        <mapping class="com.pims.model.PimsSysUserInfo"/>
        <mapping class="com.pims.model.PimsSysUserRole"/>
        <mapping class="com.pims.model.PimsCommonBaseData"/>
        <mapping class="com.pims.model.PimsHospitalPathologyInfo"/>
    </session-factory>
</hibernate-configuration>