.docId {
	display:none;
}
#operationDlg .row {
	margin-left:6px;
	margin-top:10px;
}

.spana {
	margin-left:0px;
	width:80px;
}

.spanb {
	margin-left:0px;
	width:100px;
}

.spanc {
	margin-left:0px;
	width:180px;
}

.spand {
	margin-left:0px;
	width:240px;
}
